<p>
<h4> Detalle Articulos<h4>

  <strong>title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
<%= link_to 'Volver a lista de articulos ' , articles_path %>