
<body>

<%= image_tag('banner web 2 desaturno-01.jpg', width: '1300px', height: '400px', class: 'rounded', alt: 'office') %>

</body>
<<%= link_to "Crear un artículo", new_article_path, class: 'btn btn-primary' %>
<%= link_to "Listado de articulos",  articles_path, class: 'btn btn-primary' %>
